html, body {
  margin: 0;
  padding: 0;
  background-color: #E11A27;
  color: white;
}

.node {
  stroke: #fff;
  stroke-width: 3px;
}

.node text {
  stroke-width: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1em;
  fill: white;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
